h1{
    background: orange;
    padding: 100px;
}

.columna{
    background: peru;
    color: white;
    padding: 20px;
    width: 40%;
    height: 50%;
}
.boxess{
    display: inline-block;
    background: salmon;
    color: aliceblue;
    padding: 10px 30px;
    text-decoration: none;

}
.boxess:hover{
    background-color: rgb(184, 146, 100);

}
nav{
    background-color: purple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
@media (max-width: 600px){
    nav{
        background-color: black;
        flex-direction: column;
    }
    .boxess{
        margin: 10px 0;
    }

    }
